<!DOCTYPE html>
<html lang="en">
  <head>
    <title>__TITLE__</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/icon-32.png">
    <link rel="apple-touch-icon" href="/icon-96.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header class="constrained-width">
        <a href="/" id="home">Home
        <!--  <img src="/logo.png" width="150" height="85" alt="logo"> -->
        </a>
    </header>
    <main class="constrained-width">
      <article>
